*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: white;
    width: 100vw;
    height: 20vh;
    position: fixed;
}
main{
    height: 35px;
    padding:2.8% 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
main img{
    width: 250px;
    height: 75px;
}
nav {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgb(209, 26, 26) , rgb(238, 78, 29));
    border-bottom-left-radius: 25rem;
    border-bottom-right-radius: 25rem;
    height: 8vh;
    margin: 0 45px;
    justify-content: center;
}
nav span{
    line-height: 4%;
    font-size: large;
    color: aliceblue;
    align-items: center;
} 
nav div a  {
 text-decoration: none;
}
nav .icn i{
    background-color: aliceblue;
    color: orangered;
    font-size: 20px;
    border-radius: 20px;
    padding: 2px;
    margin: 5px;
}
.under a{
    text-decoration: none;
    padding: 15px 4.5px 0px 4.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.body{
    background-image:linear-gradient(to right, rgba(30, 71, 93, 255),rgba(195, 195, 195, 0.5)), url(./WhatsApp\ Image\ 2023-06-29\ at\ 4.43.53\ PM.jpeg);
    background-size: cover;
    background-attachment: fixed;
    /* background-blend-mode: darken ; */
    height: 120vh;
}
.text-head , .text-para{
    width: 80%;
    /* resize: both; */
    padding-left: 35px;
    color: aliceblue;
}

.text-head {
    padding-top: 15rem;
    font-size: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text-para p{
    font-size: 16px;
    width: 100%;
}
.fixed{
    position: fixed;
    width: 100vw;
    display: none;
}
.btns button{
    width: 220px;
    height: 52px;
    border-radius: 25px;
    /* padding: 10px; */
    gap: 25px;
    margin-top: 25px;
}
.btn1{
    background: linear-gradient(to left, rgb(209, 26, 26) , rgb(238, 78, 29));
    color: white;
    border: none;
    outline: none;
}
.btn2{
    background: transparent;
    border: 1px solid white;
    color: aliceblue;
}
.btn{
    background: linear-gradient(to left, rgb(209, 26, 26) , rgb(238, 78, 29));
    border: none;
    color: aliceblue;
    padding: 17px 80px;
}

.form_div {
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,rgba(31, 29, 29, 0.5), rgba(30, 68, 93, 255));
    display: none;
}

.inner_modal {
    font-size: 24px;
    margin-bottom: 10px;
}

.inner_modal{
    color: rgb(24, 22, 22);
    font-size: 16px;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    width: 300px;
    font-size: 14px;
}

#btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

#cancel_modal {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 15%;
    font-size: 16px;
    cursor: pointer;
    height: 45px;
}
.form_div div{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}
.testimonies{
    text-align: center;
    font-size: 20px;
}
main .checkbox {
    display: none;
}
main input{
    display: none;
}
main .checkbox{
    font-size: 2rem;
    color: darkorange;
    cursor: pointer;
}
main .checkbox{
    font-size: 2rem;
    color: darkorange;
    cursor: pointer;
}
.iconsearch{
    display: none;
}
.cancel     {
    display: none;
}
ul{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition:  left 0.3s;
}
ul li a{
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: rgb(32, 30, 30);
    transition: 0.3s;
}
.header2{
    background-color: white;
    width: 100vw;
    height: 13vh;
    padding-right: 10px;
    position: fixed;
    
}
.search{
    border: none;
    outline: none;
    font-size: larger;
    background-color: transparent;
}
    @media screen and (max-width: 1200px){
        #menu,
        #cancel {
        border: none;
        background: transparent;
        font-size: 35px;
        font-weight: 900;
        /* transition: 1s; */
        }

        /* #menu:hover {
        transform: rotate(90deg);
        } */
        .cancelDiv {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        }
        #cancel {
        color: white;
        }

        /* #cancel:hover {
        transform: rotate(360deg);
        } */

        .sidebar li {
            padding: 10px 0px;
        }
        
        .sidebar li:hover {
            background-color: gray;
        }

        
        main{
            height: 35px;
            padding:30px 0;
            width: 100vw;
            display: flex;
            align-items: center;
            /* justify-content: center; */
            justify-content: space-evenly;
        }
        main img{
            width: 240px;
            height: 70px;
        }
        ul{
            display: flex;
            align-items: center;
            gap: 1rem;
            list-style: none;
            transition:  left 0.3s;
        }
        ul li a{
            padding: 0.5rem 1rem;
            border: 2px solid transparent;
            text-decoration: none;
            font-weight: 100;
            color: rgb(32, 30, 30);
            transition: 0.3s;
        }
        .body{
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            text-align: center;
        }
        .text-head{
            font-size: 35px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        /* .text-para{
            font-size: 18px;
            width: 40%;
        } */
        .btns button{
            width: 230px;
            height: 48px;
            border-radius: 25px;
            gap: 25px;
            margin-top: 25px;
        }
        header{
            background-color: white;
            width: 100vw;
            height: 19.5vh;
            padding-right: 10px;
            position: fixed;
            
        }
        .checkbox{
            margin-right: 20px;
        }
       
    }
    @media screen and (max-width: 950px){
        header {
            flex-direction: column;
            /* align-items: flex-start; */
            height: 15vh;
           
          }
          .form_div div{
            width: 80vw;
          }
          nav {
              display: none;
             }
          main #check:checked ~ ul{
              left: 0;
          }
          main .checkbox {
              display: block;
              padding-right: 10px;
          }
          /* ul{
              position: absolute;
              width: 100vw;
              height: 120vh;
              left: -100%;
              top: -80px;
              background: linear-gradient(to left, rgb(209, 26, 26) , rgb(238, 78, 29));
              flex-direction: column;
              justify-content: start;
              gap: 1rem;
              color: white;
          } */
          .sidebar {
            height: 100vh;
            background: linear-gradient(to left, rgb(209, 26, 26) , rgb(238, 78, 29));
            color: white;
            width: 0px;
            position: absolute;
            top: 0;
            left: 0;
            overflow-x: hidden;
            transition: 1s;
            flex-direction: column;
            justify-content: start;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }
          .iconsearch{
              display: block;
              border: none;
              outline: none;
              font-size: larger;
              background-color: transparent;
          }
          ul .icon{
              display: block;
          }
           .body img{
              height: 10vh;
           }
          .menu{
             display: inline;
          }
          main{
            /* flex-direction: row; */
            justify-content: space-between;
            padding-top: 45px;
            display: flex;
            align-items: center;
            /* justify-content: center; */
          }
        
          .under {
            margin-top: -50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: self-start;
            /* padding-left:10px ; */
          }
          .btn{
              background: linear-gradient(to right, rgb(182, 109, 109) , rgb(238, 78, 29));
              border: none;
              color: aliceblue;
              padding: 12px 40px;
          }
          .btns button{
              width: 48%;
              border-radius: 25px;
              padding: 15px;
              margin-top: 25px;
          }
         
          .checkbox{
              margin-right: 20px;
          }
    }

  @media screen and (max-width: 800px) {
    header {
      flex-direction: column;
      align-items: flex-start;
      height: 15vh;
      /* padding: 25px; */
    }
    .form_div div{
        width: 83vw;
      }
    .search{
        display: none;
    }
    nav {
        display: none;
       }
    main #check:checked ~ ul{
        left: 0;
    }
    main .checkbox {
        display: block;
        padding-right: 10px;
    }
    /* ul{
        position: absolute;
        width: 100vw;
        height: 95vh;
        left: -100%;
        top: -80px;
        background: linear-gradient(to left, rgb(209, 26, 26) , rgb(238, 78, 29));
        gap: 1rem;
        color: white;
        padding-top: -100rem;
    } */
    .sidebar {
        height: 100vh;
        background: linear-gradient(to left, rgb(209, 26, 26) , rgb(238, 78, 29));
        color: white;
        width: 0px;
        position: absolute;
        top: 0;
        left: 0;
        overflow-x: hidden;
        flex-direction: column;
        justify-content: start;
        transition: 1s;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    .iconsearch{
        display: block;
        border: none;
        outline: none;
        font-size: larger;
        background-color: transparent;
    }
    ul .icon{
        display: block;
    }
     .body img{
        height: 40vh;
     }
    .menu{
       display: inline;
    }
    main{
      justify-content: space-between;
    }
  
    .under {
      margin-top: -50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: self-start;
      /* padding-left:10px ; */
    }
    .btn{
        background: linear-gradient(to right, rgb(182, 109, 109) , rgb(238, 78, 29));
        border: none;
        color: aliceblue;
        padding: 12px 40px;
    }
    /* .text-head , .text-para{
        width: 100%;
        padding-left: 15px;
        color: aliceblue;
        text-align: center;
        justify-content: center;
        align-items: center;
    } */
    .btns button{
        width: 57%;
        border-radius: 25px;
        padding: 15px;
        margin-top: 25px;
    }
   
    .checkbox{
        margin-right: 20px;
    }
  }
  @media screen and (max-width: 500px){
    .btns button{
        width: 30%;
        border-radius: 25px;
        padding: 10px;
        margin-top: 25px;
    }
    .form_div div{
        width: 83vw;
      }
    main img{
        width: 130px;
        height: 65px;
    }
    .checkbox{
        margin-right: 20px;
    }
  }
  @media screen and (max-width: 450px){
    .btns button{
        display: inline-block;
        width: 35%;
        border-radius: 25px;
        padding: 10px;
        margin-top: 25px;
    }
    
    .form_div div{
        width: 83vw;
      }
    main img{
        width: 130px;
        height: 65px;
    }
    .checkbox{
        margin-right: 20px;
    }
  }
  